# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Jupyter files

.ipynb_checkpoints

# Project files
bi1_files/htmlwidgets-1.5.4/htmlwidgets.js
bi1_files/wordcloud2-0.0.1/hover.js
bi1_files/wordcloud2-0.0.1/wordcloud.css
bi1_files/wordcloud2-0.0.1/wordcloud2-all.js
bi1_files/wordcloud2-binding-0.2.1/wordcloud2.js
bi2_files/htmlwidgets-1.5.4/htmlwidgets.js
bi2_files/wordcloud2-0.0.1/hover.js
bi2_files/wordcloud2-0.0.1/wordcloud.css
bi2_files/wordcloud2-0.0.1/wordcloud2-all.js
bi2_files/wordcloud2-binding-0.2.1/wordcloud2.js
bi3_files/htmlwidgets-1.5.4/htmlwidgets.js
bi3_files/wordcloud2-0.0.1/hover.js
bi3_files/wordcloud2-0.0.1/wordcloud.css
bi3_files/wordcloud2-0.0.1/wordcloud2-all.js
bi3_files/wordcloud2-binding-0.2.1/wordcloud2.js
bi4_files/htmlwidgets-1.5.4/htmlwidgets.js
bi4_files/wordcloud2-0.0.1/hover.js
bi4_files/wordcloud2-0.0.1/wordcloud.css
bi4_files/wordcloud2-0.0.1/wordcloud2-all.js
bi4_files/wordcloud2-binding-0.2.1/wordcloud2.js
tri1_files/htmlwidgets-1.5.4/htmlwidgets.js
tri1_files/wordcloud2-0.0.1/hover.js
tri1_files/wordcloud2-0.0.1/wordcloud.css
tri1_files/wordcloud2-0.0.1/wordcloud2-all.js
tri1_files/wordcloud2-binding-0.2.1/wordcloud2.js
tri2_files/htmlwidgets-1.5.4/htmlwidgets.js
tri2_files/wordcloud2-0.0.1/hover.js
tri2_files/wordcloud2-0.0.1/wordcloud.css
tri2_files/wordcloud2-0.0.1/wordcloud2-all.js
tri2_files/wordcloud2-binding-0.2.1/wordcloud2.js
tri3_files/htmlwidgets-1.5.4/htmlwidgets.js
tri3_files/wordcloud2-0.0.1/hover.js
tri3_files/wordcloud2-0.0.1/wordcloud.css
tri3_files/wordcloud2-0.0.1/wordcloud2-all.js
tri3_files/wordcloud2-binding-0.2.1/wordcloud2.js
tri4_files/htmlwidgets-1.5.4/htmlwidgets.js
tri4_files/wordcloud2-0.0.1/hover.js
tri4_files/wordcloud2-0.0.1/wordcloud.css
tri4_files/wordcloud2-0.0.1/wordcloud2-all.js
tri4_files/wordcloud2-binding-0.2.1/wordcloud2.js
w1_files/htmlwidgets-1.5.4/htmlwidgets.js
w1_files/wordcloud2-0.0.1/hover.js
w1_files/wordcloud2-0.0.1/wordcloud.css
w1_files/wordcloud2-0.0.1/wordcloud2-all.js
w1_files/wordcloud2-binding-0.2.1/wordcloud2.js
w2_files/htmlwidgets-1.5.4/htmlwidgets.js
w2_files/wordcloud2-0.0.1/hover.js
w2_files/wordcloud2-0.0.1/wordcloud.css
w2_files/wordcloud2-0.0.1/wordcloud2-all.js
w2_files/wordcloud2-binding-0.2.1/wordcloud2.js
w3_files/htmlwidgets-1.5.4/htmlwidgets.js
w3_files/wordcloud2-0.0.1/hover.js
w3_files/wordcloud2-0.0.1/wordcloud.css
w3_files/wordcloud2-0.0.1/wordcloud2-all.js
w3_files/wordcloud2-binding-0.2.1/wordcloud2.js
w4_files/htmlwidgets-1.5.4/htmlwidgets.js
w4_files/wordcloud2-0.0.1/hover.js
w4_files/wordcloud2-0.0.1/wordcloud.css
w4_files/wordcloud2-0.0.1/wordcloud2-all.js
w4_files/wordcloud2-binding-0.2.1/wordcloud2.js
bi1.html
bi2.html
bi3.html
bi4.html
fig_bi1.png
fig_bi2.png
fig_bi3.png
fig_bi4.png
fig_tri1.png
fig_tri2.png
fig_tri3.png
fig_tri4.png
fig_w1.png
fig_w2.png
fig_w3.png
fig_w4.png
tri1.html
tri2.html
tri3.html
tri4.html
w1.html
w2.html
w3.html
w4.html
